<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="FluentNHibernate" version="2.0.3.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="10.0.0" targetFramework="net45" />
  <package id="JetBrains.ReSharper.CommandLineTools" version="10.0.20151218.134438" targetFramework="net45" developmentDependency="true" />
  <package id="Machine.Specifications" version="0.9.3" targetFramework="net45" />
  <package id="Machine.Specifications.AutoMocking" version="1.5.10.2" targetFramework="net45" />
  <package id="Machine.Specifications.Mvc5" version="1.6.1.0" targetFramework="net45" />
  <package id="Machine.Specifications.Should" version="0.8.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net45" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net45" />
  <package id="NUnit" version="3.0.1" targetFramework="net45" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.99.0" targetFramework="net45" />
</packages>