# Suppress: EC112
root=true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

[*.{config,xml,js,json,html,css,sql,csproj,props,yml}]
indent_size = 2

[*.sh]
end_of_line = lf

[*.{cmd, bat}]
end_of_line = crlf

[{**/tests/**,**/Tests/**,**/*.Tests/**}.cs]
resharper_class_never_instantiated_global_highlighting=do_not_show
resharper_consider_using_configure_await_highlighting=do_not_show
resharper_event_exception_not_documented_highlighting=do_not_show
resharper_exception_not_documented_highlighting=do_not_show
resharper_exception_not_documented_optional_highlighting=do_not_show
resharper_heap_view_boxing_allocation=do_not_show
resharper_heap_view_boxing_allocation_highlighting=do_not_show
resharper_heap_view_closure_allocation_highlighting=do_not_show
resharper_heap_view_delegate_allocation_highlighting=do_not_show
resharper_heap_view_object_allocation_highlighting=do_not_show
resharper_heap_view_object_allocation_evident_highlighting=do_not_show
resharper_possible_null_reference_exception_highlighting=do_not_show
resharper_private_field_can_be_converted_to_local_variable_highlighting=do_not_show
resharper_return_value_of_pure_method_is_not_used_highlighting=do_not_show
resharper_suggest_base_type_for_parameter_highlighting=do_not_show
resharper_class_with_virtual_members_never_inherited_local_highlighting=do_not_show
resharper_class_with_virtual_members_never_inherited_global_highlighting=do_not_show

[**/{Startup,Program}.cs]
resharper_event_exception_not_documented_highlighting=do_not_show
resharper_exception_not_documented_highlighting=do_not_show
resharper_exception_not_documented_optional_highlighting=do_not_show
resharper_heap_view_object_allocation_evident_highlighting=do_not_show
