packages/**/*
Drops
obj
bin
debug
.vs
_Resharper.*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.ReSharper
*.suo
*.cache
*~
*.swp
*.dbproj.user
*.dbmdl
error-*.xml
*_mm_cache.bin
*.dotCover
StyleCop.Cache
SpecificationReports
NugetWorkspace
Packages
Common/AssemblyVersion.cs
*.DotSettings.user
Artefacts/Documentation/build/
_NCrunch*/
*.*ncrunch*
*.sln.DotSettings
*.user
