<?xml version="1.0" encoding="utf-8"?>
<DupFinderOptions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Debug>false</Debug>
  <DiscardCost>70</DiscardCost>
  <DiscardFieldsName>false</DiscardFieldsName>
  <DiscardLiterals>false</DiscardLiterals>
  <DiscardLocalVariablesName>false</DiscardLocalVariablesName>
  <DiscardTypes>false</DiscardTypes>
  <IdlePriority>false</IdlePriority>
  <ExcludeFilesByStartingCommentSubstring />
  <ExcludeCodeRegionsByNameSubstring />
  <InputFiles>
    <Pattern>SharpArch.sln</Pattern>
  </InputFiles>
  <Properties />
  <NormalizeTypes>false</NormalizeTypes>
  <OutputFile>..\BuildSystem\..\Drops\Duplicates\dupReport.xml</OutputFile>
  <ShowStats>false</ShowStats>
  <ShowText>true</ShowText>
</DupFinderOptions>