<#@ template language="C#" hostspecific="True" debug="True" #>
<#@ import namespace="System.Collections.Specialized" #>
<#@ output extension="txt" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="ScaffoldingGenerator.tt" #> 

<#
NameValueCollection properties = new NameValueCollection();
properties.Add("Name", "string");
properties.Add("Price", "decimal");

ScaffoldingGenerator generator = new ScaffoldingGenerator("Northwind", "Product", properties);
generator.Run(); 
#>